.btn-main {
  background-color: #885df4;
  color: #fff;
}

.btn-main:hover,
.btn-main:active {
  background-color: #7147f0;
}

.form-group.form-group-last {
  margin-bottom: 3rem;
}

.form-control.form-control-reset:focus {
  border-color: #ced4da;
  box-shadow: none;
}